<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Magnus</title>
  <link rel="stylesheet" href="styles.css">

</head>


<body>
<h1>Magnus Saved Images</h1>



    
<div class="line"></div>




  <% if (result.length == 0){ %>
    <P> Please add a star</P>
  <% }else{ %>
      <div id="easyPaginate">
        <% for(var i=result.length-1; i>0; i--) {%>
          <div class="img_container">
            <a href="<%= result[i].link %>">
            <img src="<%= result[i].link %>">
            </a>
          </div> 
        <% } %>
     </div>
  <% } %>







  <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="jquery.easyPaginate.js"></script>

<script>
  $('#easyPaginate').easyPaginate({
    paginateElement: 'div',
    elementsPerPage: 3,
    effect: 'default'
  });
</script>


</body>
</html>
