html {
  font-size: 20px;
  background: #78d7ed;
}



.table_container {

   border-radius: 25px;
    border: 2px solid #555;
    padding: 10px; 
    margin: 10px; 
    width: 95%;
    
    text-align: center;
}

.img_container {
	border-radius: 25px;
    border: 2px solid #555;
    padding: 10px; 
    margin: 10px; 
    width: 400px;
    height: 400px;
	float: left;
}

img {
    max-width: 95%;
    max-height: 95%;
	object-fit: contain;
	 margin:auto;
  display:block;
}

.text_container {

   border-radius: 25px;
    border: 2px solid #555;
    padding: 2%;
    width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
    background: #D1F7FF;
    text-align: left;

}

.add_container {

   border-radius: 25px;
    /*border: 2px solid #555;*/
    padding: 10px; 
    margin: 10px; 
    width: 500px;
}


a.delete_href {
    color: red;
    text-decoration:none;
    text-align: center;
}
a.delete_href:hover {
    color: red;
    font-size:150%;
}



.textarea {
  
     font-size:12pt;
     height:640px;
     width:800px;
}



.title {

    font-size:150%;


}


.logout {


   padding-top: 3% ;
   padding-bottom: 3% ;
   /*margin: 3 0% ;*/

}

.temp_disclaimer{

}

 .line{
width: 95%;
height: 5px;
border-bottom: 1px solid black;
position: center;
}
